extends layout

block content
    h1(class="lg:text-4xl md:text-2xl text-xl font-extrabold p-5 font-mono") #{title}:

    div(class="flex justify-center")
        div(class="rounded border  shadow-2xl block border-blue-600 table mt-5 ")
                table(class=" table-auto w-full w-max  font-mono bg-white  border-collapse border-blue-600")
                    thead
                        th(class="border px-2 text-center border-blue-600 md:text-xl") Category
                        th(class="border px-2 text-center border-blue-600 md:text-xl") Items count
                        th(class="border px-2 text-center border-blue-600 md:text-xl") Details
                    tbody
                    each category in category_list
                        tr
                            td(class="border px-2  text-center border-blue-600")= category.name
                            td(class="border px-2  text-center border-blue-600")= category.count
                            td(class="border px-2 text-center border-blue-600")
                                    a(href=category.url)
                                        button(class="bg-blue-700 hover:bg-blue-800 hover:shadow-md mt-5 mb-5 rounded-full py-3 px-6 text-white") Details
                    else
                        h1(class="text-red text-5xl") There are no categories!