extends layout

block content
  div(class="font-mono")
    h1(class="lg:text-4xl md:text-2xl text-xl font-extrabold")= title
    p(class="mt-5") Welcome to #[em Bikeshop], this is a very basic Express website developed for the purpose of learning CRUD Operations.
    h1(class="lg:text-4xl md:text-2xl text-xl mt-5 font-extrabold")
      | Dynamic content - Database info
    if error
      p(class="mt-5 text-red font-bold") Error getting the dynamic content!
    else
      p(class="mt-5 font-bold") In the shop we have:
      div(class="flex justify-center items-center flex-col md:flex-row md:items-center md:justify-center flex-wrap pt-5")
        div(class="bg-white  mt-5 w-96 h-52 rounded-lg border shadow-xl border-blue-500 flex flex-col items-center justify-center")
          h2(class="lg:text-xl font-extrabold") Number of Bikeparts:
          p(class="pt-5 font-bold text-xl")= data.bikepartsCount
          button(class="bg-blue-700 mt-5 mb-5 hover:bg-blue-800 hover:shadow-md rounded-full py-3 px-6 text-white")
            a(href="/catalog/bikeparts  ") Go to parts!
        div(class="bg-white md:mx-3 mt-5 w-96 h-52 rounded-lg border shadow-xl border-blue-500 flex flex-col items-center justify-center")
          h2(class="lg:text-xl font-extrabold") Number of Categories:
          p(class="pt-5 font-bold text-xl")= data.categoryCount
          button(class="bg-blue-700 mt-5 mb-5 hover:bg-blue-800 hover:shadow-md  rounded-full py-3 px-6 text-white")
            a(href="") Go to Categories!
        div(class="bg-white  mt-5  w-96 h-52 rounded-lg text-center border shadow-xl border-blue-500 flex flex-col items-center justify-center")
          h2(class="lg:text-xl font-extrabold") Number of Manufacturers:
          p(class="pt-5 font-bold text-xl")= data.manufacturerCount
          button(class="bg-blue-700 hover:bg-blue-800 hover:shadow-md mt-5 mb-5 rounded-full py-3 px-6 text-white")
            a(href="") Go to Manufacturers!


