doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
    style.
      .toggle-menu {
         display:block;
         opacity: 1;
         height:auto;
      }
  body(class="bg-gray-100")
    div(class="w-screen h-full  h-20 md:h-20 md:flex flex-col md:flex-row text-white  md:justify-center lg:justify-between items-center  font-mono bg-blue-700")
      h1(class="pl-5 text-2xl hidden lg:block")
        | Inventory app - Bikeshop
      div(class="hamburger-container p-5 sm:inline-block md:hidden" onclick="myFunction(this)")
        div(class="bar1 bg-white")
        div(class="bar2 bg-white")
        div(class="bar3 bg-white")

      nav(class="pl-5 md:pl-0")
        ul(class="transition-all duration-500 block h-0 opacity-0 md:opacity-100 mobile-menu md:flex justify-center mx-auto  md:flex-row md:justify-items-end items-center text-lg")
          li(class="md:pr-5 hover:underline hover:text-gray-200")
            a(href="/catalog") Home
          li(class="md:pr-5 hover:underline hover:text-gray-200")
            a(href="/catalog/bikeparts") Bikeparts
          li(class="md:pr-5 hover:underline hover:text-gray-200")
            a(href="/catalog/categories") Categories
          li(class="md:pr-5 hover:underline hover:text-gray-200")
            | Manufacturers
    div(class="container lg:px-44 px-5 pt-8 mx-auto ")
      block content
    script(src="/scripts/menu.js")



